*{
	margin: 0px;
	padding: 0px;
	/*outline: solid red 1px;*/
}
#wrapper{
	width: 1000px;
	margin: auto;
}
#header{
}
	#headertop{
		background: -webkit-linear-gradient(#D3CFDC, white, white); /* For Safari 5.1 to 6.0 */
  		background: -o-linear-gradient(#D3CFDC, white, white); /* For Opera 11.1 to 12.0 */
  		background: -moz-linear-gradient(#D3CFDC, white, white); /* For Firefox 3.6 to 15 */
 		background: linear-gradient(#E6E6E8, white); /* Standard syntax */
	}
		#headertop img{
			display: inline-block;
			margin-left: 30px;
		}
		#headertop p{
			display: inline-block;
			margin-left: 220px;
			font-size: 20px;
			margin-top: 30px;
			vertical-align: top;
			font-weight: bold;
			font-family: sans-serif;

		}
	#headerbottom{
		background: -webkit-linear-gradient(#E2ECED, #C4D6D9); /* For Safari 5.1 to 6.0 */
  		background: -o-linear-gradient(#E2ECED, #C4D6D9); /* For Opera 11.1 to 12.0 */
  		background: -moz-linear-gradient(#E2ECED, #C4D6D9); /* For Firefox 3.6 to 15 */
 		background: linear-gradient(#E2ECED, #C4D6D9); /* Standard syntax */
 		border-top: solid grey 2px;
	}
		#headerbottom ul{
			text-align: center;
			font-size: 0px;
		}
			#headerbottom ul li{
				display: inline-block;
				padding: 10px 17px;
				margin: 0px;
				border-right: solid grey 1px;
				border-left: solid silver 1px;
				margin: 0px;
			}
				#headerbottom ul li a{
					font-size: 13px;
					text-decoration: none;
					color: #4F4F61;
					font-weight: bold;
					font-family: sans-serif;
				}
					#home{
						border-left: solid grey 1px !important;
					}